<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoo.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ecriton'Zoo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zoo.myapplication.VictoireActivity" android:screenOrientation="landscape"></activity>
        <activity
            android:name="com.zoo.myapplication.JeuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zoo.myapplication.DifficulteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zoo.myapplication.ZooActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.zoo.myapplication.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>